<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>testsuite</name>
            <displayName><![CDATA[TestSuite]]></displayName>
            <version><![CDATA[0.1.0]]></version>
            <description><![CDATA[Module de suite de test.]]></description>
            <author><![CDATA[Happy Technologies]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	        <limited_countries></limited_countries>
        </module>